:root {
    --primary: #A5C882;
    --secondary: #D33F49;
    --light: #fff;
    --dark: #000;
    --disabled: #e7e7e7;;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--disabled);
}

*:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.list {
    margin: 25px auto;
    padding: 25px;
    background-color: var(--light);
    width: 100%;
    max-width: 350px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateRight {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 50px;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText  {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}

form .first-form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--diabled);
}

input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--diabled);
}

.orderButton {
    background-color: var(--secondary);
    color: var(--light);
}

.task {
    background-color: var(--primary);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
}

.done {
    background-color: var(--diabled);
    text-decoration: line-through;
    color: var(--dark);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.objetive {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#goalForm label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#goal {
    font-size: 16px;
    padding: 5px;
}

#goalForm button {
    width: 120px;
    font-size: 16px;
    padding: 5px;
    background-color: #D33F49;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.progress {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#progressForm {
    margin-top: 20px;
}

#progressForm label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#progressForm input {
    border: none;
    padding: 10px;
    background-color: var(--disabled);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#progressForm button {
    font-size: 16px;
    padding: 10px;
    background-color: var(--secondary);
    color: var(--light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

.instructions {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.instructions h2 {
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    margin-top: 20px; 
}

.card {
    flex: 0 1 calc(33.33% - 20px); 
    margin-bottom: 20px; 
    max-width: calc(33.33% - 20px); 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    text-align: center; 
    padding: 20px; 
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card p {
    display: none;
}

.show {
    display: block!important;
}

.control {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    margin: 5px;
  }
  
  input[type="range"] {
    width: 80%;
  }
  
  input[type="number"] {
    width: 80px;
  }

  .media {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-item {
    margin-bottom: 20px; 
    text-align: center; 
}

.media-item h2 {
    text-align: center; 
}

.media-item p {
    text-align: justify; 
}

.media-item img,
.media-item video {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px; 
}

.controls {
    display: flex;
    justify-content: center;
}

.controls button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #D33F49;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error h2 {
    margin-bottom: 10px;
}

.error p {
    margin-bottom: 20px;
}

.error button {
    padding: 10px 20px;
    background-color: #D33F49;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error a {
    display: block;
    margin-top: 10px;
    color: #D33F49;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}



